@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Georama:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}
.container {
    min-height: 100vh;
    width: 100%;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #24243e,
        #302b63,
        #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-image: linear-gradient(135deh, #485467 0%, #28313b 74%);
    overflow: hidden;
    transform-style: preserve-3d;
}

/* ==================*/
.gradient-baclgroud {
    height: 100vh;
    width: 100%;
    background: var(--gradinet);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.gradient-baclgroud .animated-box {
    position: absolute;
    background: red;
    display: block;
    pointer-events: none;
    border-radius: 0.5rem;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(0) translateY(-100%) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1) translateY(-500%) rotate(360deg);
    }
}
/*============================*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}
.menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.logo {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}
.logo span {
    font-weight: 300;
}
.hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bar {
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background: #fff;
    transition: 0.5s;
    position: relative;
}
.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background: #fff;
    transition: 0.5s;
}

.bar::before {
    transform: translateY(-9px);
}
.bar::after {
    transform: translateY(9px);
}
.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
}
header {
    min-height: 100vh;
    width: 100%;
    background: url(./img/pic-7.jpg) no-repeat top center / cover;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e3000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    max-width: 35rem;
    text-align: center;
    color: #fff;
    padding: 0 2rem;
}
.title {
    font-size: 2.7rem;
}
.btn {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    background-color: #061161b4;
    border: none;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}
.btn:hover {
    background: #000;
    color: #fff;
    letter-spacing: 0.1rem;
}
.container.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
}
.container.active .bar::before {
    transform: translateY(0) rotate(45deg);
}
.container.active .bar::after {
    transform: translateY(0) rotate(-45deg);
}
.container.active .main {
    cursor: pointer;
    animation: main-anime 0.5s ease;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

/* */
@keyframes main-anime {
    from {
        transform: translate(0);
    }
    to {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}
.link {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style: none;
}
.link a {
    text-decoration: none;
    color: #fff;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s linear;
    transform: translateY(10px);
    opacity: 0;
    animation: hide 0.5s forwards ease;
}
.link a:hover {
    color: red;
}
.container.active .link a {
    animation: apper 0.5s forwards ease var(--i);
}
@keyframes apper {
    from {
        opacity: 0;
        transform: translateY(10rem);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0rem);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background: #fff;
}
.shadow.one {
    z-index: -1;

    opacity: 0.15;
}
.shadow.two {
    z-index: -2;
    opacity: 0.1;
}
.container.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}
@keyframes shadow-one {
    0% {
        transform: translate(0);
    }
    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
}
.container.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}
@keyframes shadow-two {
    0% {
        transform: translate(0);
    }
    20% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
}
.container.active .main:hover + .shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}
.container.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}
